@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');

$font1: 'Heebo', sans-serif;
$font2: 'Lobster Two', cursive;
$white:#fff;
$black:#000;
$primary-light: #f9fafb;
$second-light:#f0f0f0;
$third-light:#DADBDB;

$primary-grey:#777;
$second-grey:#4f4f4f;

$first-shadow: rgba(0,0,0,0.3);

$success: rgba(61, 168, 102, 0.6);
$error: rgba(168, 30, 14, 0.6);

$primary-color:#4c8061;

/* GLOBAL CONFIG RESET */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

select:focus, input:focus, button:focus{
  outline:none;
}

/* -------- BODY DISPLAY --------- */
body {
font-family: 'Heebo', sans-serif;
background-color: var(--primary-light);
// overflow: hidden;

// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;

// height: 100vh;
}

/* -------- TYPE SELECTORS --------- */

/* -------- CLASS --------- */

/* -------- PSEUDO CLASS --------- */

/* -------- MEDIA QUERY --------- */

@media (max-width: 800px) {
  
}