@import 'helpers';

/* GLOBAL CONFIG RESET */
* {
  @include reset();
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

/* -------- BODY DISPLAY --------- */
body {
  background-color: $primary-dark;
  // overflow: hidden;

  @include flexDisplay(center, center, column, wrap);
  color: white;
  height: 100vh;
  text-align: center;
}

.changeText {
  color: red;
}

.changeText.above {
  color: rgb(83, 83, 191);
}

/* -------- TYPE SELECTORS --------- */

/* -------- CLASS & ID --------- */

/* -------- ANIMATIONS --------- */

/* -------- MEDIA QUERY --------- */

@media (max-width: 800px) {
}
